body {
  border: 0;
  padding: 0;
  color: #333;
  width: 100%;
  margin: auto;
  max-width: 1080px;
}

p, body, input, label {
  font-size: 13px;
  font-family: arial, sans-serif;
}

table {
  border: 0;
  width: 100%;
  color: #333;
  margin: auto;
  padding: 10px;
  border-spacing: 0 10px;
}

table tr td {
  padding: 0;
  height: 22px;
  line-height: 22px;
}

p, label {
  margin: 0;
  border: 0;
  padding: 0;
  color: #000;
  user-select: none;
}

select {
  padding: 0;
  width: 100%;
  color: #333;
  margin: auto;
  height: 42px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  font-weight: 600;
  text-indent: 10px;
  font-family: monospace;
  border: solid 1px rgba(0,0,0,0.25);
}

input[type='checkbox'] {
  margin: 10px;
  float: right;
  vertical-align: middle;
}

input[type='button'] {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #333;
  height: 42px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  line-height: 42px;
  box-sizing: border-box;
  transition: 300ms ease all;
  border: solid 1px rgba(0,0,0,0.25);
}

input[type='button']:hover {
  background: rgba(0,0,0,0.05);
}

.note p {
  color: #555;
  text-indent: 5px;
}

.separator {
  height: 28px;
}

.buttons {
  margin-top: 20px;
  max-width: 700px;
  border-spacing: 5px 0;
}

.logo {
  width: 100%;
  height: 128px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}
